* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}
a {
    color: #365899;
}
body {
    background: #f2f3f5;
    font-family: Calluna, Arial, sans-serif;
    min-height: 1000px;
}
button {
    height: 100px;
    width: 250px;
    font-size: 30px;
    margin: 20px;
    border-radius: 50px;
}

/*--------------------login-------------------------- */

.welcome-wrapper {
    background-color: #e9ebee;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bluebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    color: white;
    background-color: #3b5998;
    width: 100vw;
}
.bluebar h1 {
    font-size: 40px;
}

.login-form form {
    font-size: 12px;
    display: flex;
    flex-direction: row;
}
.login-form button {
    background-color: #365899;
    border-color: #29487d;
    color: white;
    width: 150px;
    height: 50px;
    font-weight: bold;
}
form div {
    width: 160px;
    display: flex;
    flex-direction: column;
}

.login-form input {
    width: 150px;
    height: 50px;
    margin: 10px;
}
.login-form div {
    margin-left: 10px;
    width: 100%;
    height: 15px;
}
.login-form span {
    margin-right: 20px;
    display: inline-block;
    width: 150px;
    font-size: 12px;
}
/*--------------------Registration-------------------------- */

.registration-container {
    padding: 0 100px;
    color: #333;
    display: flex;
    flex-direction: row;
}

.registration-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.registration-form input {
    height: 100px;
    margin-top: 20px;
    order: 1px solid #ccd0d5;
    border-radius: 5px;
    margin-right: 20px;
    width: 400px;
}

.registration-form button {
    width: 400px;
    height: 100px;
    padding: 10px 20px;
    margin-top: 20px;
    text-align: center;
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22;
    border-radius: 5px;
    color: white;
}
.error-message {
    padding: 10px;
}

/*--------------------------------------------------------------------------- */

/*--------------------header-------------------------- */

header {
    font-weight: bold;
    background-color: #14357a;
    border: solid black 1px;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space;
}
header .div {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 50%;
}
.nav-btn {
    height: 100%;
    padding: 20px;
    font-size: 40px;
    font-size: white;
}
.app-body {
    background-color: lightgrey;
    height: 70vh;
}
.page-container {
    height: 100%;
    width: 100%;
}
.cam-btn {
    height: 150px;
    width: 150px;
    background-color: black;
    color: white;
    border-radius: solid black;
    border-radius: 50%;
    font-size: 80px;
    position: absolute;
    bottom: 400px;
    right: 50px;
    z-index: 10;
}
.demo-img {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.demo-img img {
    width: 90%;
}
.display-text {
    display: flex;
    justify-content: center;
    background-color: white;
    height: 500px;
    width: 90%;
    padding: 50px;
}
/*--------------------bottom menue-------------------------- */

footer {
    font-weight: bold;
    background-color: #14357a;
    border: solid black 1px;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    text-align: center;
    font-size: 40px;
    color: white;
}
/*--------------------home-------------------------- */
.docs-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.docs-display input {
    position: absolute;
    top: 1vh;
    left: 12vh;
    width: 300px;
    height: 8vh;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.results {
    width: 98vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 0.3em;
    grid-column-gap: 0.3em;
    max-height: 65vh;
    overflow: scroll;
}
.search-result {
    display: inline-block;
    position: relative;
    height: 22vh;
    width: 29vw;
    background: white;
    color: #385898;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.no-results {
    padding: 20px;
}

.search-result img {
    width: 100%;
    height: 100%;
    margin-right: 50px;
    border-radius: 5px;
    border: 1px solid dark-grey;
    cursor: pointer;
}
.search-result .info {
    text-align: center;
    position: relative;
    bottom: 90px;
    width: 100%;
    font-size: 40px;
    background-color: white;
    color: black;
}
.all-docs {
    background-color: white;
}
.profile-wraper {
    position: absolute;
    left: -100vw;
    top: 10vh;
    height: 100%;
    width: 100vw;
}
.popup-btn {
    position: fixed;
    top: 1vh;
    left: 1vh;
    width: 6vh;
    height: 6vh;
    font-size: 5vh;
}
.popup-menu {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100%;
    background-color: lightgrey;
}
.bright-side {
    width: 70vw;
}
.dark-side {
    width: 30vw;
    background-color: black;
    opacity: 0.7;
}

.camera {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
}

.captured-img-container {
    background-color: yellow;
    width: 100vw;
    height: 70vh;
}
.captured-img-container canvas {
    height: 100%;
    width: 100%;
}
.captured-img-container img {
    width: 100%;
    height: 100%;
}
.capture-btn {
    position: fixed;
    bottom: 100px;
    left: 40%;
    height: 150px;
    width: 150px;
    background-color: black;
    color: white;
    border-radius: solid black;
    border-radius: 50%;
    font-size: 80px;
    position: absolute;
}
